@model Product
            <!--Card 1-->
    
            <div class="col-sm-6">
                <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                    <!--Card image-->
                    <div class="view view-cascade overlay text-center">
                        <img class="card-img-top" src="https://image.flaticon.com/icons/svg/185/185153.svg" alt=""> <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--Card Body-->
                    <div class="card-body card-body-cascade text-center">
                        <!--Card Title-->
                        <h4 class="card-title"><strong><a href="">@Model.Name</a></strong></h4> <!-- Card Description-->
                        <p class="card-text">@Model.Description </p>
                        <p class="price">@Model.Price.ToString("c")</p> <!-- Card Rating-->
                        <!--Card footer-->

                        <div class="card-footer" style="background-color: #343a40!important;">
                            <p>
                                <form id="@Model.ProductID" asp-action="AddToCart"
                                      asp-controller="Cart" method="post">
                                    <input type="hidden" asp-for="ProductID" />
                                    <input type="hidden" name="returnUrl"
                                           value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                                    <button type="submit" class="btn sample btn-sample">
                                        Add To Cart
                                    </button>
                                </form>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
<style>
    .btn-sample {
        color: #ffffff;
        background-color: #7783A8;
        border-color: #130269;
    }
</style>
    

